/* General Settings and Documentation Reference */
/* Refer to https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification for bundling and minification details */

/* Base Typography and Layout */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); /* Subtle gradient background */
    color: #333; /* Improved text readability */
    animation: backgroundShift 30s ease infinite; /* Smooth background color shift */
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px; /* Space for footer */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
}

@keyframes backgroundShift {
    0%, 100% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

/* Navigation and Links */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #000; /* Contrast against the gradient background */
    transition: color 0.3s; /* Smooth color transition */
}

    a:hover {
        color: #000; /* Hover effect for links */
    }

/* Buttons and Interactive Elements */
.btn-primary {
    color: #fff;
    background-color: #007bff; /* Updated primary color */
    border-color: #0056b6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.045); /* Subtle box shadow */
}

    .btn-primary:hover {
        background-color: #0056b6; /* Darker on hover */
        border-color: #004190;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #007bff;
    border-color: #0056b6;
}

/* Footer and Borders */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px; /* Centering text vertically */
    background-color: #f8f9fa; /* Light background for the footer */
    text-align: center;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

/* Box Shadows for Depth */
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .075); /* Enhanced shadow for depth */
}

/* Form Elements and Custom Buttons */
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
    padding: 0.5rem 1rem; /* Increased padding for better touch targets */
    background-color: #e9ecef; /* Neutral background */
    border: none;
    border-radius: 5px; /* Rounded borders */
}

    button.accept-policy:hover {
        background-color: #cbd3da; /* Slightly darker on hover */
    }

/* Utility and Responsive Design Adjustments */
@media (max-width: 768px) {
    .footer {
        line-height: 40px; /* Adjust line-height for smaller screens */
    }
}
